@model List<Student>
@{ 
    ViewBag.Title = " Students List";
}
<div>
    <a asp-controller="Student" asp-action="Add">Add new student</a>
</div>
<table class=" table table-bordered table-striped">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date of creation</th>
        <th>Advisor Name</th>
        <th>Courses Registered</th>
        <th></th>
    </thead>
    <tbody>
        @foreach(var student in Model)
            {
                <tr>
                    <td>@student.StudentName</td>
                    <td>@student.StudentEmail</td>
                    <td>@student.StudentPhone</td>
                    <td>@student.DateCreated</td>
                    <td>@student.AdvisorName</td>
                    <td>@student.CoursesRegistered</td>
                    <td>
                        <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentID">Edit</a>
                        <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.StudentID">Delete</a>
                    </td>
                </tr>

            }
    </tbody>

</table>